<link
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
  crossorigin="anonymous"
/>

{% load socialaccount %} {% load static %}

<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'students/format.css' %}"
    />
  </head>
  <div id="top">
    <div class="container">
      <div class="row">
        <a href="/">
          <div class="col">
            <img src="/../static/images/logo.jpg" width="50" height="50" alt="">
          </div>
        </a>
      </div>
    </div>
  </div>
    <h1 class="col text-center">
      Welcome to Quick Tutor!
    </h1>
  </div>
  <div id="container">
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <h2>Join Now!</h2>
            <p>The only true wisdom is knowing you know nothing -Socrates</p>
            {% if sign_in == "no"%}
            <a
              class="btn btn-primary btn-lg"
              href="{% provider_login_url 'google' %}"
              role="button"
              >Sign into Google Account</a
            >
            {% else %}
            {% if student == "no" or tutor == "no" %}
            <a
              class="btn btn-primary btn-lg"
              href="/students/choose"
              role="button"
              >Sign Up</a
            >
            {% endif %}
            <a
              class="btn btn-primary btn-lg"
              href="/students/signin"
              role="button"
              >Sign In</a
            >
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="container">
    <div class="container">
      <div class="row">
        <div class="col">
          <h4>Step 1:</h4>
          <p>
            Tell us what you are struggling with
          </p>
        </div>
        <div class="col">
          {%load static%}
          <img
            src="{% static '/images/arrow2.png' %}"
            width="100"
            height="100"
          />
        </div>
        <div class="col">
          <h4>Step 2:</h4>
          <p>
            Choose a tutor and wait
          </p>
        </div>
        <div class="col">
          {%load static%}
          <img
            src="{% static '/images/arrow2.png' %}"
            width="100"
            height="100"
          />
        </div>
        <div class="col">
          <h4>Step 3:</h4>
          <p>
            Find your tutor in person on Grounds
          </p>
        </div>
      </div>
    </div>
  </div>
  <div id="lfooter">
    <div>Quick Tutor | @ 2020</div>
    <a>Contact: 1-800-234-1234</a>
  </div>
</html>
