{% extends "./layout.html" %} {% block content %}

<html>
  {% load static %}
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'students/format.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <br />
  <body>
    <p>this is your profile</p>
    {% if profile_list %}
    <ul class="list-group">
      {% for p in profile_list %}
      <li class="list-group-item">{{p.classes}}</li>
      <li class="list-group-item">{{p.phone_number}}</li>
      <p>end of one profile</p>
      {% endfor %}
    </ul>
    {% else %}
    <p>nothing in database</p>
    {% endif %}
  </body>
</html>

{% endblock %}
