{% extends "./layout.html" %} {% block content %}

<html>
  {% load static %}
  <head>
    <meta charset="UTF-8">
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'students/format.css' %}"
    />
    <link 
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh">
    <link  
      href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Student Profile</title>
  </head>
  <br />
  <body>
    
    <!-- Modal Stuff -->
    <div class="modal" id="edit">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Edit Profile</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            <form id="edit" role="form" method="POST" action="/students/edit">
              {% csrf_token %}
              {% for p in profile_list %}
              <div class="form-group">
                <label class="phone_number">Phone Number</label>
                <div>
                  <input type="text" class="form-control input-lg" name="phone_number" value="{{p.phone_number}}">
                </div>
              </div>
              <div class="form-group">
                <label class="classes">Classes</label>
                <div>
                  <input type="text-box" class="form-control input-lg" name="classes" value="{{p.classes}}">
                </div>
              </div>
              {% endfor %}
              <button type="submit" class="btn btn-success">Make Changes</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script>
      $('#edit').on('hide.bs.modal', function () { 
      location.reload()
      });
      </script>
    
    {% if profile_list %}
    <ul class="list-group">
      {% for p in profile_list %}
      <div class="panel panel-info">      
        <div class="panel-heading">
          <h3 class="panel-title" style="text-align:center">{{p.user}}</h3>
        </div>          
        <div class="col-md-3 col-lg-3" align="center"> <img alt="User Pic" src="https://cdn2.iconfinder.com/data/icons/facebook-51/32/FACEBOOK_LINE-01-512.png" class="img-circle img-responsive"> </div>
        <div class=" col-md-9 col-lg-9 ">         
          <table class="table table-user-information">
            <tbody>
              <tr>
                <td style="text-align:center">Classes:</td>
                <td style="text-align:center">{{p.classes}}</td>
              </tr>
              <tr>
                <td style="text-align:center">Phone Number</td>
                <td style="text-align:center">{{p.phone_number}}
                </td>
              </tr>
              <tr>
                <td>
                </td>
                <td align="right">
                  <!--Modal button-->
                  {% if hasother == 'yes' %}
                  <a type="button" class="btn btn-primary" href="{% url 'tutors:myprofile' %}">Tutor Profile</a>
                  {%else%}
                  <a type="button" class="btn btn-primary" href="{% url 'tutors:signup' %}">Make Tutor Profile</a>
                  {%endif%}
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit">
                  Edit Profile
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          
        </div>
      </div>
      {% endfor %}
    </ul>
    {% else %}
    <p>nothing in database</p>
    {% endif %}
  </body>
</html>

{% endblock %}
