{% extends "./layout.html" %} {% block content %}

<!DOCTYPE html>
<div>
  <html lang="en">
    {% load static %}
    <head>
      <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'students/format.css' %}"
      />
      <title>Current Requests</title>
    </head>
    <body>
      {% for request in requests_list %}
      <div class="card w-50" ALIGN="center">
        <div class="card-header">
          Request for: {{request.tutor}}
        </div>
        <div class="card-body">
          <h5 class="card-title">Details:</h5>
          <p class="card-text">
            <div>
              Status: {{request.status}}
            </div>
            <div>
              Time: {{request.time}}
            </div>
          </p>
          <a href="/tutors/profile/{{request.tutor}}" target="_blank" title="Opens in a new window" class="btn btn-primary">{{request.tutor}}'s profile</a>
        </div>
      </div>
      <br />
      {% endfor %}
    </body>
  </html>
</div>

{% endblock %}
