{% extends "./layout.html" %} {% block content %}

<!DOCTYPE html>
<div>
  <html lang="en">
    {% load static %}
    <head>
      <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'students/format.css' %}"
      />
      <title>Current Requests</title>
    </head>
    <script>
      var requests_list = "{{requests_list}}";
      console.log(requests_list);
    </script>
    <body>
      {% for request in requests_list %}
      <div>
        Student: {{request.student}} Tutor: {{request.tutor}} Status:
        {{request.status}} Time sent: {{request.time}}
      </div>
      {% endfor %}
    </body>
  </html>
</div>

{% endblock %}
