<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

{% load socialaccount %}

<style>
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5%;
    background-color:grey;
    color: white;
    text-align: center;
  }
</style>

<html>
<nav class="navbar navbar-dark bg-dark navbar-fixed-top">
    <div class="container">
      <h1 class="text-light">Sign in as Tutor or Student?</h1>
    </div>
  </nav>

  <br style=line-height:10vh;>
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <a class="btn btn-primary btn-lg" href="students/" role="button">Student</a>
          <a class="btn btn-primary btn-lg" href="/tutors/" role="button">Tutor</a>
        </div>
      </div>
    </div>
  </div>
</br>

</html>