{% extends "./layout.html" %} {% block content %}

<html>
  {% load static %}
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="initial-scale=1,maximum-scale=1,user-scalable=no"
    />
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js"></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
      #map {
        width: 100%;
      }
    </style>
  </head>
  <body>
    <style>
      .mapboxgl-marker {
        border: none;
        border-radius: 50%;
        cursor: pointer;
        padding: 0;
      }
      .coordinates {
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        position: absolute;
        bottom: 25px;
        left: 15px;
        padding: 5px 10px;
        margin: 0;
        font-size: 11px;
        line-height: 18px;
        border-radius: 3px;
        display: none;
      }
    </style>

    <pre type="hidden" id="coordinates" class="coordinates"></pre>
    <input type="hidden" name="long" id="long" />
    <input type="hidden" name="lat" id="lat" />

    <div id="map" style="width: 100%; height: 80%;"></div>
    <script>
      var ACCESS_TOKEN = "{{ACCESS_TOKEN}}";
      var coordinates = document.getElementById("coordinates");

      if (navigator.geolocation) {
        // getting current position and creating a map centered at current position
        navigator.geolocation.getCurrentPosition(
          function(position) {
            mapboxgl.accessToken = ACCESS_TOKEN;

            var long = position.coords.longitude;
            var lat = position.coords.latitude;

            var map = new mapboxgl.Map({
              container: "map",
              style: "mapbox://styles/mapbox/streets-v11",
              center: [long, lat],
              zoom: 14
            });

            // adding a marker indicating your location
            var marker = new mapboxgl.Marker({
              draggable: true
            })
              .setLngLat([long, lat])
              .addTo(map);
            document.getElementById("long").value = long;
            document.getElementById("lat").value = lat;

            // can drag the marker to your actual location and displays lat, long
            function onDragEnd() {
              var lngLat = marker.getLngLat();
              document.getElementById("long").value = lngLat.lng;
              document.getElementById("lat").value = lngLat.lat;
            }
            marker.on("dragend", onDragEnd);
          },
          function(error) {
            alert("Enable location services.");
          },
          { maximumAge: 10000, timeout: 5000, enableHighAccuracy: true }
        );
      } else {
        alert("Location services not available.");
      }
    </script>
    {% if my_profile %}
    <ul class="list-group">
      {% for p in my_profile %} Status: {{p.status}} {% endfor %}
    </ul>
    {% else %}
    <p>nothing in database</p>
    {% endif %}
    <button
      type="button"
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#exampleModal"
      id="activate"
    >
      I'm ready to tutor!
    </button>
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Tutoring status
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Is the marker at your current location?
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              No - I will move the marker!
            </button>
            <!-- form to submit current location -->
            <form action="/tutors/activate" method="POST">
              {% csrf_token %}
              <input type="hidden" name="long_form" id="long_form" />
              <input type="hidden" name="lat_form" id="lat_form" />
              <button type="submit" class="btn btn-primary" value="Submit">
                Yes - I'm ready to tutor!
              </button>
            </form>
            <!-- script to grab current coordinates from html element -->
            <script>
              $("#activate").click(function() {
                var long = $("#long").val();
                var lat = $("#lat").val();
                document.getElementById("long_form").value = long;
                document.getElementById("lat_form").value = lat;
              });
            </script>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

{% endblock %}
