<html>
  {% load static %}
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'tutors/format.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
  </head>
  <div id="page">
    <div id="wrapper">
      <header class="polls-header">
          <div class="flex-grid">
            <div class="col1">
              <a href="/tutors">
                <img src="/../static/images/logo.jpg" width="50" height="50" alt="">
              </a>
            </div>
            <div class="col1">          
              <nav class="navbar navbar-light" style="background-color: #ffffff;">
              <a class="nav-link" href="/tutors"><h4>Home</h4></a>
              <a class="nav-link" href="{% url 'tutors:request_view' %}"
              >
              <h4>
                Requests
              </h4></a
              >
              <a class="nav-link" href="{% url 'tutors:profile' user.username %}"
              ><h4>
                Tutor Profile
              </h4></a
              >
              </nav>
            </div>
            <div class="col3">
            <nav class="navbar navbar-light" style="background-color: #ffffff;">
              {% if user.is_authenticated %}
                <form action="{% url 'tutors:logout'%}">
                  <button class="btn btn-outline-success my-2 my-sm-0" href="{% url 'tutors:logout'%}"
                    ><h4>Logout</h4></a
                  >
                </form>
              {% endif %}
            </nav>
          </div>
        </div>
      </header>
      <br />
      <body id="body">
        {% block content %} {% endblock %}
      </body>
    </div>
    <footer>
      <div>
        UBER FOR TUTORS
      </div>
      <div>
        Quick Tutor | @ 2020
      </div>
    </footer>
  </div>
</html>
