<html>
  {% load static %}
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <header class="polls-header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="nav-link" href="/tutors">home</a>
      <a class="nav-link" href="/tutors/profile">my profile</a>
    </nav>
  </header>
  <br />
  <body>
    {% block content %} {% endblock %}
  </body>
  <footer>
    <div>footer:</div>
    <div>Quick Tutor | @ 2020</div>
  </footer>
</html>
