{% extends "./layout.html" %} {% block content %}

<html>
  {% load static %}
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'tutors/style.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>
  <br />
  <body>
    <!--Modal Button-->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit">
      Edit Profile
    </button>
    <!--Modal Stuff-->
    <div class="modal" id="edit">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Edit Profile</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            <form id="edit" role="form" method="POST" action="/tutors/edit">
              {% csrf_token %}
              {% for p in profile_list %}
              <div class="form-group">
                <label class="phone_number">Phone Number</label>
                <div>
                  <input type="text" class="form-control input-lg" name="phone_number" value="{{p.phone_number}}">
                </div>
              </div>
              <div class="form-group">
                <label class="classes">Classes</label>
                <div>
                  <input type="text-box" class="form-control input-lg" name="classes" value="{{p.classes}}">
                </div>
              </div>
              <!--Add the scroll down bar here-->
              <div class="form-group">
                <label for="subjects">Subjects</label>
                <select name="subjects" value="{{p.subjects}}">
                  <option value = "science">science</option>
                  <option value = "math">math</option>
                  <option value = "english">english</option>
                </select>
              </div>
              <div class="form-group">
                <label class="pay">Pay</label>
                <div>
                  <input type="text" class="form-control input-lg" name="pay" value="{{p.pay}}">
                </div>
              </div>
              <div class="form-group">
              <label for="payment_method">Payment Method</label>
              <select name="payment_method" value="{{p.payment_method}}">
               <option value = "venmo">venmo</option>
               <option value = "cash">cash</option>
               <option value = "paypal">paypal</option>
             </select>
            </div>
              {% endfor %}
              <button type="submit" class="btn btn-success">Make Changes</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
    <p>this is your profile</p>
    {% if profile_list %}
    <ul class="list-group">
      {% for p in profile_list %}
      <li class="list-group-item">{{p.classes}}</li>
      <li class="list-group-item">{{p.subjects}}</li>
      <li class="list-group-item">{{p.phone_number}}</li>
      <li class="list-group-item">{{p.pay}}</li>
      <li class="list-group-item">{{p.payment_method}}</li>
      <p>end of one profile</p>
      {% endfor %}
    </ul>
    {% else %}
    <p>nothing in database</p>
    {% endif %}
  </body>
</html>

{% endblock %}
