{% extends "./layout.html" %} {% block content %}

<!DOCTYPE html>
<div align="center">
  <html lang="en">
    {% load static %}
    <head>
      <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'tutors/format.css' %}"
      />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <title>Current Requests</title>
    </head>
    <body ALIGN="center">
      {% if requests_list %} {% for request in requests_list %}
      <div class="card w-50" align="center">
        <div class="card-header">
          <h4>
            Request from: {{request.student}}
          </h4>
        </div>
        <div class="card-body">
          <h4 class="card-title">Details:</h4>
          <h5 class="card-text">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Status: {{request.status}}
              </li>
              <li class="list-group-item">
                Time: {{request.time}}
              </li>
            </ul>
          </h5>
          <a
            href="/students/profile/{{request.student}}"
            target="_blank"
            title="Opens in a new window"
            class="btn btn-primary"
            >{{request.student}}'s profile</a
          >
        </div>
        {% if request.status == "No choice" %}
        <form action="{% url 'tutors:request_action' %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="request_id" value="{{request.id}}" />
          <input type="hidden" name="action" value="accept" />
          <button type="submit" class="btn btn-success">
            Accept
          </button>
        </form>
        <form action="{% url 'tutors:request_action' %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="request_id" value="{{request.id}}" />
          <input type="hidden" name="action" value="deny" />
          <button type="submit" class="btn btn-danger">
            Deny
          </button>
        </form>
        {% else %}
        <form action="{% url 'tutors:request_close' %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="request_id" value="{{request.id}}" />
          <button type="submit" class="btn btn-danger">
            Close request
          </button>
        </form>
        {% endif %}
      </div>
      <br />
      {% endfor %} {% else %}
      <h4>No current requests. Keep your eye out for student requests!</h4>
      {% endif %}
    </body>
    <br />
    <br />
    <br />
  </html>
</div>

{% endblock %}
