<!doctype html>
<div style='text-align:center'>
<html lang="en">
  {% load static %}
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'tutors/format.css' %}"
    />
    <title>Tutor Signup Form</title>
</head>
{% for message in messages %}
{% if message.tags == "error" %}
<div class="alert alert-danger">
  <a class="close" href="#" data-dismiss="alert">×</a>
    {{message}}
</div>
{% endif %}
{% endfor %}
<div id="page">
  <div id="wrapper" style="padding-top:5%">
    <body id="body">
<h1>Tutor Signup Form</h1>
{% block body %}
<p ALIGN="center"><form action="/tutors/signup" method="POST">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <button style="background-color: #3870ff" type="submit" class="btn btn-success">Submit</button>
</form>
{% endblock %}</p>
</body>
</div>
</div>
</html>