#body {
  padding-left: 15%;
  padding-right: 15%;
}

footer {
  position: absolute;
  bottom: 0;
  height: 5rem;
  background-color: #c3c3c3;
  color: white;
  text-align: center;
  width: 100%;
}

#lfooter {
  position: absolute;
  bottom: 0;
  height: 3rem;
  background-color: #c3c3c3;
  color: white;
  text-align: center;
  margin-left: 15%;
  width: 70%;
}

#lsfooter {
  position: absolute;
  bottom: 0;
  height: 7%;
  background-color: #c3c3c3;
  color: white;
  text-align: center;
  width: 100%;
}

#top {
  margin-bottom: 2rem;
}

#page {
  position: relative;
  min-height: calc(100vh - 2rem);
  background-color: #ffffff;
}

#wrapper {
  padding-bottom: 4rem;
}

table {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.form69 {
  margin-left: 100px;
  margin-right: 100px;
}

.flex-grid {
  display: flex;
  margin-top: 2rem;
}

.col1 {
  flex: 1;
}

.col3 {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#map {
  margin: 0 auto;
  margin-bottom: 2rem;
}

#profile {
  width: 85%;
  margin: 0 auto;
}

#top {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#container {
  padding-left: 15%;
  padding-right: 15%;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
