#body {
  padding-left: 15%;
  padding-right: 15%;
  background-color: #70a0d0;
}

footer {
  position: absolute;
  bottom: 0;
  height: 2rem;
  background-color: #c3c3c3;
  color: white;
  text-align: center;
  width:100%;
}

#page {
  position: relative;
  min-height: 100vh;
  background-color: #eeeeee;
}

#wrapper {
  padding-bottom: 2rem;
}

table {
  text-align:left;
  margin-left:auto;
  margin-right:auto;
}